@import "src/assets/references/index";

.my-resume-header {
    display: flex;
    align-items: center;
    width: calc(100% - 80px);
    justify-content: space-between;
    padding: 40px 40px 20px 40px;
    @include main-size-pre-lg {
        padding: 12px 16px;
        width: calc(100% - 32px);
    }

    .my-detail {
        display: flex;
        align-items: center;
        column-gap: 10px;

        .my-img {
            width: 50px;
            height: 50px;
            background-color: $primary;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
            font-size: 24px;
            @include main-size-pre-lg {
                width: 36px;
                height: 36px;
            }
        }

        .fullname {
            font-size: 18px;
            color: $white;
            font-weight: 900;
            letter-spacing: 1px;
            text-align: left;
            @include main-size-pre-lg {
                font-size: 16px;
            }
            @include main-size-pre-md {
                text-align: center;
            }
        }
    }

    .menu-icon {
        @include main-size-pre-md {
            display: flex;
            align-items: center;
            width: 24px;
            height: 24px;
            cursor: pointer;
            transition: all 0.2ms ease-in-out;
            filter: invert(85%) sepia(0%) saturate(7%) hue-rotate(247deg) brightness(105%) contrast(86%);
            &:hover, &:active {
                filter: invert(100%) sepia(5%) saturate(19%) hue-rotate(45deg) brightness(117%) contrast(92%);
            }
        }
    }

    .header-item-div {
        display: flex;
        align-items: center;
        column-gap: 20px;
        @include main-size-pre-md {
            display: none;
        }

        .header-link {
            font-size: 14px;
            color: #f5f5f5;
            text-decoration: none;
            opacity: 0.55;
            transition: all .3s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }
}